
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<section class="banner-bottom-w3layouts py-md-5 py-4">
    <div class="container">
        <div class="inner-sec-wthree-w3ls py-md-5 py-4">
            <h3 class="tittle-w3l text-center mb-lg-5 mb-3">
                <span>Tại sao chọn Toeic24.vn?</span>Welcome Toeic24.vn
            </h3>
            <div class="row mt-5">
                <div class="col-lg-6 about-img">
                    <img src="~/Content/images/bodeluyenthitoeic.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 aboutright">
                    <h3>Các bộ đề TOEIC quốc tế, ETS... luôn được cập nhật liên tục và thường xuyên.</h3>
                    <h3> Rèn luyện 2 kỹ năng TOEIC Reading và TOEIC Listening nhanh nhất..</h3>
                    <h4>Sau khi làm bài bạn có thể kiểm tra đáp án, giải thích chi tiết từng đáp án.</h4>
                    <p>Website thi thử TOEIC online miễn phí có chấm điểm và xem đáp án ngay, kiểm tra trình độ TOEIC chính xác, nhanh chóng!</p>
                    <div class="read inner mt-4">
                        <a href="~/Home/Index" class="btn btn-sm animated-button victoria-two">Thi Thử Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner-bottom-w3layouts py-lg-5 py-lg-4 py-4">
    <div class="container">
        <div class="inner-sec-wthree-w3ls py-lg-4 py-4">
            <h3 class="tittle-w3l text-center mb-lg-5 mb-3">
                <span>Đánh giá của người dùng</span>Mọi ý kiến đóng góp của bạn sẽ làm website được hoàn thiện hơn.
            </h3>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="cource-box-info text-center rounded">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Content/images/hai.jpg" alt="Collegien" class="img-fluid">
                                <h5 class="card-title mt-3">
                                    Sinh Viên IT
                                </h5>
                                <p class="card-text">
                                    <i class="fas fa-comment-dots"></i> Website rất tốt, tôi thường xuyên giới thiệu cho học viên làm thử để cải thiện trình độ TOEIC. Cảm ơn TOEIC24 rất nhiều.
                                </p>
                                <ul class="property-box">
                                    <li class="field-item text-left">

                                        <i class="fas fa-users"></i> 195
                                    </li>
                                    <li class="field-item text-right">

                                        <i class="far fa-comments"></i> 26
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cource-box-info text-center rounded">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Content/images/hieu.jpg" alt="Collegien" class="img-fluid">
                                <h5 class="card-title mt-3">
                                    Sinh Viên IT
                                </h5>
                                <p class="card-text">
                                    <i class="fas fa-comment-dots"></i> Website thi thử TOEIC có tâm nhất mình từng thấy, hoàn toàn miễn phí dễ dàng sử dụng, đề thi sát thực tế, cập nhật thường xuyên.
                                </p>
                                <ul class="property-box">
                                    <li class="field-item text-left">

                                        <i class="fas fa-users"></i> 155
                                    </li>
                                    <li class="field-item text-right">

                                        <i class="far fa-comments"></i> 15
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cource-box-info text-center rounded">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Content/images/linh.jpg" alt="Collegien" class="img-fluid">
                                <h5 class="card-title mt-3">
                                    Sinh Viên IT
                                </h5>
                                <p class="card-text">
                                    <i class="fas fa-comment-dots"></i> Website rất tiện lợi, có thể luyện đề thi TOEIC mọi lúc mọi nơi, có chấm điểm và lời giải chi tiết sau khi làm xong đề.
                                </p>
                                <ul class="property-box">
                                    <li class="field-item text-left">

                                        <i class="fas fa-users"></i> 155
                                    </li>
                                    <li class="field-item text-right">

                                        <i class="far fa-comments"></i> 25
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cource-box-info text-center rounded">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Content/images/36492348_985320144983756_1662097883366686720_n.jpg" alt="Collegien" class="img-fluid">
                                <h5 class="card-title mt-3">
                                    Sinh Viên IT
                                </h5>
                                <p class="card-text">
                                    <i class="fas fa-comment-dots"></i>Website rất tiện lợi, có thể luyện đề thi TOEIC mọi lúc mọi nơi, có chấm điểm và lời giải chi tiết sau khi làm xong đề.
                                </p>
                                <ul class="property-box">
                                    <li class="field-item text-left">

                                        <i class="fas fa-users"></i> 255
                                    </li>
                                    <li class="field-item text-right">

                                        <i class="far fa-comments"></i> 15
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="cource-box-info text-center rounded">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Content/images/Trường.jpg" alt="Collegien" class="img-fluid">
                                <h5 class="card-title mt-3">
                                    kinh Doanh bất động sản
                                </h5>
                                <p class="card-text"><i class="fas fa-comment-dots"></i> Website rất tiện lợi, có thể luyện đề thi TOEIC mọi lúc mọi nơi, có chấm điểm và lời giải chi tiết sau khi làm xong đề </p>
                                <ul class="property-box">
                                    <li class="field-item text-left">

                                        <i class="fas fa-users"></i> 355
                                    </li>
                                    <li class="field-item text-right">

                                        <i class="far fa-comments"></i> 25
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="offer-service-w3ls py-md-5 py-4">
    <div class="container">
        <div class="inner-sec-wthree-w3ls py-md-5 py-4">
            <h3 class="tittle-w3l text-center mb-lg-5 mb-3">
                YOUR TOP TOEIC TEST QUESTIONS ANSWERED
            </h3>
            <div class="row">
                <div class="col-lg-4 service-in text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fab fa-react"></i>
                            <h5 class="card-title">WHY SHOULD I TAKE THE TOEIC TESTS?</h5>
                            <p class="card-text">
                                Taking a TOEIC test verifies your current level of English-language proficiency to qualify for a job, or to enter an academic institution to prepare you for a career that uses English in business communication.

                                It can help you stand out and be recruited in a competitive market..
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 service-in text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-flask"></i>
                            <h5 class="card-title">WHAT ARE THE TOEIC TESTS?</h5>
                            <p class="card-text">
                                The TOEIC® program offers a series of assessments to measure all four skills of English proficiency – listening, reading, speaking and writing.

                                The tests measure a range of skill levels, from basic-to-intermediate and advanced level. The test you take depends on what an employer requires, as well as the level of English proficiency required.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 service-in text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-music"></i>
                            <h5 class="card-title">WHO USES THE TOEIC TESTS?</h5>
                            <p class="card-text">
                                Many leading companies, academic institutions and language programs worldwide rely on the TOEIC tests as a fair, objective measure of English-language proficiency for students and business professionals.

                                Over 14,000 organizations across more than 160 countries trust TOEIC® scores to inform the decisions that matter.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 service-in text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-pencil-alt"></i>
                            <h5 class="card-title">WHERE CAN I TAKE THE TOEIC TESTS?</h5>
                            <p class="card-text">
                                TOEIC tests are administered by in-country local ETS Preferred Network members. Test dates and test format vary by country.

                                To register for a TOEIC test, please use the Contact Us form to find your nearest ETS Preferred Network office.
                            </p>
                        </div>
                    </div>



                </div>
                <div class="col-lg-4 service-in text-center">


                </div>
            </div>
        </div>
    </div>
</section>


