
@{
    ViewBag.Title = "Hướng dẫn";
}
<script>
    $("#menu_help").addClass("active");
</script>

<div style="margin-bottom:200px">
    <h6>Hướng dẫn Part 1</h6>
    <div style="font-family: calibri light; font-size: 16px; ">
        1. Cấu trúc bài thi <br />
        &emsp; TOEIC Listening Part 1 là nội dung nhìn tranh và miêu tả. Phần này gồm 10 bức tranh (đề mới: 6 bức tranh), mỗi bức tranh sẽ có 4 câu mô tả không được in trong đề. Nhiệm vụ của các bạn là nghe và chọn đáp án mô tả đúng bức tranh nhất.
        <br />
        2. Cách phân bổ thời gian làm bài
        <br />
        &emsp;  ✓ Bước 1: Nghe băng đọc các đáp án, A, B, C, D (giữa các đáp án sẽ có 5s để nghỉ)
        <br />
        &emsp;  ✓ Bước 2: Sử dụng 3 giây đầu để tô đáp án
        <br />
        &emsp;  ✓ Bước 3: 2 giây sau nhìn luôn xuống bức tranh tiếp theo để chuẩn bị
        <br />
        &emsp;  Part đầu tiên khởi đầu tốt sẽ giúp bạn tự tin hơn trong các câu hỏi tiếp theo.
        <br />
        3. Các loại tranh xuất hiện trong bài thi
        <br />
        &emsp; Tranh tả người (tả một người hoặc nhiều người): 7 - 8 bức tranh
        <br />
        &emsp; Tranh tả vật và phong cảnh: 2 - 3 bức tranh
    </div>

    <hr />
    <h5>Part 2</h5>
    <div style="font-family: calibri light; font-size: 16px; ">
        1. Cấu trúc bài thi <br />
        &emsp;  TOEIC Listening Part 2 sẽ gồm 30 câu (đề mới 25 câu). Mỗi câu có 1 câu hỏi và 3 lựa chọn đáp án. Nhiệm vụ là phải chọn ra câu trả lời tương thích với câu hỏi trong bài.
        <br />
        2. Cách phân bổ thời gian làm bài<br />
        &emsp;  ✓ Bước 1: Nghe một câu hỏi hoặc một câu nói
        <br />
        &emsp;  ✓ Bước 2: Nghe tiếp 3 câu trả lời / hồi đáp lại câu trên (tương ứng với 3 lựa chọn A, B, C)
        <br />
        &emsp; ✓ Bước 3: Chọn một câu hồi đáp phù hợp nhất cho câu hỏi
        <br />
        &emsp;  ✓ Bước 4: Dùng 5s nghỉ giữa 2 câu để chuẩn bị cho câu tiếp theo
    </div>

    <hr />
    <h5>Part 5</h5>
    <div style="font-family: calibri light; font-size: 16px; ">
        1. Cấu trúc bài thi <br />
        &emsp;Part 5 là phần đầu tiên trong bài TOEIC Reading, đây là phần có số lượng câu hỏi lớn chiếm 40 câu, kéo dài từ câu 101 đến 140.
        <br />
        3. Cách phân bổ thời gian làm bài<br />
        &emsp; Với những câu hỏi ngắn và không yêu cầu tổng hợp thông tin thì Part 5 được đánh giá là “dễ nhai” hơn Part 7 rất nhiều. Vì vậy để làm tốt phần này, các bạn không chỉ cần nắm vững ngữ pháp và từ vựng, mà quan trọng hơn phải biết phân bổ thời gian làm bài hợp lý để không mất quá nhiều thời gian.
    </div>

</div>
