<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Collegian Education Category Bootstrap responsive Web Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Collegian a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/examples.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/slider-pro.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css" type="text/css" media="all">
    <link href="~/Content/css/nav.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <div id="example1" class="slider-pro">

        <div class="sp-slides">


            <div class="sp-slide">
                <img src="~/Content/images/hoc-luyen-thi-toeic-300-350-400-1024x614.png" alt="" class="sp-image">

                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="10%" data-show-transition="left" data-hide-transition="left">
                    Thi thử Toeic mọi lúc mọi nơi
                </h3>

                <p class="sp-layer sp-white sp-padding hide-medium-screen" data-horizontal="40" data-vertical="22%" data-show-transition="left"
                   data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                    Bạn cần một website thi thử TOEIC trực tuyến?
                </p>

                <p class="sp-layer sp-black sp-padding hide-small-screen" data-horizontal="40" data-vertical="34%" data-width="350" data-show-transition="left"
                   data-show-delay="400" data-hide-transition="left" data-hide-delay="500">

                    Toeic24.vn - Website thi thử TOEIC số 1 Việt Nam!
                </p>
            </div>
            <div class="sp-slide">

                <img src="~/Content/images/anhheader.jpg" alt="" class="sp-image">


                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="10%" data-show-transition="left" data-hide-transition="left">
                    KIỂM TRA TRÌNH ĐỘ TOEIC MIỄN PHÍ.
                </h3>

                <p class="sp-layer sp-white sp-padding hide-medium-screen" data-horizontal="40" data-vertical="22%" data-show-transition="left"
                   data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                    Đăng ký
                    tài khoản để làm bài thi nhiều hơn!
                </p>

                <p class="sp-layer sp-black sp-padding hide-small-screen" data-horizontal="40" data-vertical="34%" data-width="350" data-show-transition="left"
                   data-show-delay="400" data-hide-transition="left" data-hide-delay="500">

                    Tạo tài khoản miễn phí để có thể làm đề thi TOEIC VIP.

                </p>
            </div>

        </div>


        <!--/nav-->
        <div class="top_nav">
            <div class="top-btns">
                <div class="sign-btn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fas fa-lock"></i> Đăng Nhập
                    </a>
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter2">
                        <i class="fas fa-user"></i> Đăng Ký
                    </a>
                </div>
            </div>
            <div class="container-btn" id="btn">
                <div class="text">Menu</div>
                <div id="bars">
                    <div class="bar first"></div>
                    <div class="bar second"></div>
                    <div class="bar third"></div>
                </div>
            </div>


            <!-- top-overlay -->
            <div class="top-overlay fade-out" id="menu">
                <nav class="top-overlay-content" id="nav">
                    <span class="top-overlay-close" id="close-btn"> &times; </span>
                    <div class="container" id="container">
                        <div class="first-nav text-center">
                            <ul class="first-nav text-center">
                                <li><a href="index.html" class="active">Trang Chủ</a></li>
                                <li><a href="about.html">Mẹo thi toic</a></li>



                                <li class="dropdown">
                                    <button class="dropbtn">Danh Mục <i class="fas fa-angle-down"></i></button>
                                    <div class="dropdown-content">
                                        <a href="gallery.html">Tài liệu Toeic</a>
                                        <a href="404.html">Kỷ năng Toeic</a>
                                        <a href="service.html">Tin Tức</a>
                                    </div>
                                </li>
                                <li><a href="~/Views/Home/Contact.cshtml">Liên Hệ</a></li>
                                <li>
                                    <a href="~/Home/Index">
                                        <i class="far fa-hand-point-right"></i>
                                        Thi Online
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--//nav-->
        </div>
    </div>
    <!---->
    @RenderBody();

    <!-- footer -->
    <section class="footer py-5">
        <div class="footer-top-w3layouts py-lg-3">
            <div class="container">
                <div class="row footer-grids">
                    <div class="col-lg-4 col-md-6 footer-grid text-left">
                        <div class="footer-logo">
                            <h3 class="mb-3"><a class="logo" href="index.html">Toeic24h.vn</a></h3>
                            <p>Website thi thử TOEIC online miễn phí có chấm điểm và xem đáp án ngay, kiểm tra trình độ TOEIC chính xác, nhanh chóng!</p>
                            <ul class="social mt-lg-0 mt-3">
                                <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5 mt-lg-0 mt-sm-5 mt-4 footer-grid links text-left">
                        <h3 class="mb-4"> Tài Liệu </h3>
                        <ul>
                            <li>
                                <a href="index.html">Sách luyện Toeic</a>
                            </li>
                            <li>
                                <a href="about.html">Tài Liệu Toeic</a>
                            </li>
                            <li>
                                <a href="404.html">Mẹo Thi Toeic</a>
                            </li>
                            <li>
                                <a href="gallery.html">Từ Vựng Toeic</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-7 mt-lg-0 mt-sm-5 mt-4 footer-grid links text-left">
                        <h3 class="mb-4">Liên Hệ </h3>
                        <ul>
                            <li><strong>Địa chỉ</strong> : 439 Xô Viết Nghệ Tĩnh Phường 26 Quận Bình Thạnh</li>
                            <li><strong>phone</strong> : +(84) 857413166</li>

                            <li><strong>Mail</strong> : <a href="#">lamdong5918@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-md-0 mt-sm-5 mt-4 edu-footer-grid text-left">
                        <h3 class="mb-4">Theo Dõi </h3>
                        <form action="#" method="post">
                            <input type="text" name="text" placeholder="Name" required="">
                            <input type="email" name="Email" placeholder="Email" required="">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy_right_w3ls py-4 text-center">
        <p>© Toeic24h.vn  | Design by <a href="https://www.facebook.com/dong.nguyendai.79">Nguyễn Đại Đồng</a></p>

    </div>
    <!-- //copyright -->
    <!--model-forms-->
    <!--/Login-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Đăng Nhập</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Địa chỉ Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không chia sẻ email của bạn với bất kì ai.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Mật Khẩu</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Đồng ý</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Đăng Nhập</button>
                            <p class="text-center pb-4">
                                <a href="#" data-toggle="modal2" data-target="#exampleModalCenter"> Không có tài khoản?</a>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Đăng Ký</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>Họ và tên đệm</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div>

                            <div class="form-group">
                                <label class="mb-2">Mật khẩu</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required="">
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Đăng ký</button>
                            <p class="text-center pb-4">
                                <a href="#">Nhấp vào Đăng ký, tôi đồng ý với các điều khoản của bạn</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->
    <!--//model-form-->
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!-- menu -->
    <script src="~/Content/js/index.js"></script>
    <script src="~/Content/js/modernizr.custom.js"></script>
    <!-- //menu -->
    <!--slider-->
    <script src="~/Content/js/jquery.sliderPro.min.js"></script>
    <script>
        $(document).ready(function ($) {
            $('#example1').sliderPro({
                width: 1980,
                height: 800,
                arrows: true,
                buttons: false,
                waitForLayers: true,
                thumbnailWidth: 270,
                thumbnailHeight: 100,
                thumbnailPointer: true,
                autoplay: false,
                autoScaleLayers: false,
                breakpoints: {
                    500: {
                        thumbnailWidth: 120,
                        thumbnailHeight: 50
                    }
                }
            });
        });
    </script>
    <!--//slider-->
    <!-- stats -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/modernizr.custom.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- carousel -->
    <script src="~/Content/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    900: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <!-- //js -->
    <script src="~/Content/js/bootstrap.js"></script>
    <!--/ start-smoth-scrolling -->
    <script src="~/Content/js/move-top.js"></script>
    <script src="~/Content/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                     };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->
</body>

</html>
