<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Màn hình chính</span>
                </li>
                <li id="menu_home">
                    <a href="/">
                        <i class="fas fa-th-large"></i>
                        <span>Tổng quan</span>
                    </a>
                </li>
                <li id="menu_part1">
                    <a href="/home/part1">
                        <i class="fas fa-photo-video"></i>
                        <span>Listening</span>
                    </a>
                </li>
                <li id="menu_part5">
                    <a href="/home/part5">
                        <i class="fas fa-pen-alt"></i>
                        <span>Writing</span>
                    </a>
                </li>
                <li id="menu_help">
                    <a href="/home/help">
                        <i class="fas fa-info-circle"></i>
                        <span>Hướng dẫn</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>